<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <header class="main-header">
            <h1>
                <a href="/">Tech Blog</a>
            </h1>
            <nav class="nav-wrapper">
                {{#if loggedIn}}
                <a href="/dashboard" class="dashboard">dashboard</a>
                <button id="logout" class="btn">logout</button>
                {{else}}
                <a href="/login" class="dashboard">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer class="main-footer">
            <div class="container">
                Thanks for visiting!
            </div>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>