<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech It Out Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <header class="main-header">
            <h1>
                <a href="/">Tech it out</a>
            </h1>
            <nav class="nav-wrapper">
                {{#if loggedIn}}
                <a href="/dashboard" class="dashboard">dashboard</a>
                <button id="logout" class="btn">logout</button>
                {{else}}
                <a href="/login" class="dashboard">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer class="main-footer">
            <div class="container">
                <span class="footer-text">thanks for visiting!</span>
                <div class="sm-group">
                    <a href="#" class="sm-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span class="footer-copyright">&copy;TECHITOUT</span> 
            </div>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>