@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}

article,
section {
    padding: 1.5rem 0;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid #8eaebd;
}

textarea {
    min-width: 70%;
    min-height: 10rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

form > div {
    margin-bottom: 2rem;
}

form label {
    display: block;
    font-size: 1.4rem;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.main-header {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #30415d;
}

.main-header h1 a {
    font-size: 3rem;
    text-transform: uppercase;
    color: #8eaebd;
    letter-spacing: 1px;
    margin-left: 2rem;
    text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
    transition: all 0.3s;
}

.main-header h1 a:hover {
    color: #30415d;
}

.nav-wrapper {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.dashboard {
    font-size: 1.8rem;
    color: #30415d;
    margin-right: 3rem;
    transition: all 0.3s;
}

.dashboard:hover,
.card-title a:hover,
.card-footer a:hover {
    text-decoration: underline;
    color: #8eaebd;
}

.btn {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #8eaebd;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.2);
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #30415d;;
    text-decoration: underline;
}

main .container:first-child {
    padding-top: 5rem;
}

.card {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9d9d9;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
}

.card-title {
    align-self: center;
}

.card-title a {
    font-size: 2rem;
    color: #30415d;
    font-weight: 600;
    transition: all 0.3s;
}

.card-content {
    margin-top: 3.2rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.4;
    overflow: hidden;
}

.card-footer {
    width: 85%;
    margin: 3.2rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer a {
    font-size: 1.4rem;
    color: #30415d;
    font-weight: bold;
    transition: all 0.3s;
}

.card-info {
    font-size: 1.4rem;
    color: #8eaebd;
}

.comments {
    padding-top: 2rem;
    margin: 0 auto;
    height: 100%;
    width: 90%;
}

.comment {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment .text {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.comment .meta {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-style: italic;
    opacity: 0.7;
}

.comment:nth-child(odd) {
    background-color: #d9d9d9;
}

.comment-form {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-form textarea {
    min-width: 45rem;
    min-height: 8rem;
}

.comment-btn {
    margin-left: 1.2rem;
}

.new-post-form,
.edit-post-form,
.login-form,
.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.new-post-form label {
    margin-right: 1.2rem;
}

.new-post-form input,
.edit-post-form input,
.login-form input,
.signup-form input {
    width: 400px;
    height: 3.5rem;
}

.new-post-form textarea,
.edit-post-form textarea {
    min-width: 40rem;
    min-height: 11rem;
}

.back-link {
    font-size: 1.6rem;
    color: #30415d;
    margin-bottom: 2rem;
    padding: 1.2rem;
}

.back-link:hover {
    text-decoration: underline;
}

.btn-group {
    display: inline-block
}

.edit-post-form {
    margin-bottom: 3rem;
}

.edit-link {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.edit-post-info {
    font-size: 1.3rem;
    color: #30415d;
}

.edit-post-info a {
    color: #8eaebd;
    font-weight: bold;
}

.edit-post-info a:hover {
    text-decoration: underline;
}

.section-title {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.9rem;
    color: #30415d;
}

.your-posts {
    padding-top: 3rem;
    font-size: 2.2rem;
}

.new-post-wrapper {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #30415d;
    padding: 3rem;
}

.edit-post-wrapper {
    margin: 2rem auto 0 auto;
    width: 80%;
    border: 1px solid #30415d;
    padding: 3rem;
}

.login-wrapper {
    width: 70%;
    margin: 4rem auto 0 auto;
    border: 1px solid #30415d;
}

.login-wrapper label {
    margin-bottom: 0.7rem;
}

.main-footer {
    padding: 5rem 0;
}

.main-footer .container {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #30415d;
    border-top: 2px solid #30415d;
    padding: 5rem 0;
}

.footer-text {
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.sm-group {
    width: 25%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sm-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    color: #8eaebd;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
}

.sm-link:hover {
    background-color: #8eaebd;
    color: #fff;
}

.footer-copyright {
    color: #ccc;
    letter-spacing: 1px;
}